:root {
  /* PRIMITIVES */
  --scale-none: 0px;
  --scale-none-rem: 0rem;
  --scale-2: 2px;
  --scale-2-rem: 0.125rem;
  --scale-6: 6px;
  --scale-6-rem: 0.375rem;
  --scale-8: 8px;
  --scale-8-rem: 0.5rem;
  --scale-12: 12px;
  --scale-12-rem: 0.75rem;
  --scale-24: 24px;
  --scale-24-rem: 1.5rem;
  --scale-16: 16px;
  --scale-16-rem: 1rem;
  --opacity-0: 0px;
  --opacity-0-rem: 0rem;
  --opacity-10: 10px;
  --opacity-10-rem: 0.625rem;
  --opacity-20: 20px;
  --opacity-20-rem: 1.25rem;
  --opacity-30: 30px;
  --opacity-30-rem: 1.875rem;
  --opacity-40: 40px;
  --opacity-40-rem: 2.5rem;
  --opacity-50: 50px;
  --opacity-50-rem: 3.125rem;
  --opacity-60: 60px;
  --opacity-60-rem: 3.75rem;
  --opacity-80: 80px;
  --opacity-80-rem: 5rem;
  --opacity-90: 90px;
  --opacity-90-rem: 5.625rem;
  --opacity-70: 70px;
  --opacity-70-rem: 4.375rem;
  --scale-4: 4px;
  --scale-4-rem: 0.25rem;
  --colors-neutral-50: #f6f6f7;
  --colors-neutral-200: #cdcdd0;
  --colors-neutral-100: #e6e6e7;
  --colors-neutral-300: #b5b4b8;
  --colors-neutral-400: #9c9ba1;
  --colors-neutral-500: #838289;
  --colors-neutral-600: #6a6a72;
  --colors-neutral-700: #51515b;
  --colors-neutral-800: #393843;
  --colors-neutral-900: #070614;
  --colors-royal-blue-50: #f7f9ff;
  --colors-royal-blue-100: #eaeafa;
  --colors-royal-blue-200: #d6d6f5;
  --colors-royal-blue-300: #c1c1f0;
  --colors-royal-blue-400: #acaceb;
  --colors-royal-blue-500: #9797e5;
  --colors-royal-blue-600: #8383e0;
  --colors-royal-blue-700: #6e6edb;
  --colors-royal-blue-800: #4141ee;
  --colors-royal-blue-900: #3030cc;
  --colors-green-50: #f0fdf4;
  --colors-green-100: #d5f2e2;
  --colors-green-200: #c0ebd3;
  --colors-green-300: #abe5c4;
  --colors-green-400: #96dfb5;
  --colors-green-500: #82d8a7;
  --colors-green-600: #6dd198;
  --colors-green-700: #58cb89;
  --colors-green-800: #2ebe6c;
  --colors-green-900: #15803d;
  --colors-red-50: #fcf2f2;
  --colors-red-100: #f9dbdb;
  --colors-red-200: #f6c9c9;
  --colors-red-300: #f3b7b7;
  --colors-red-400: #f0a4a4;
  --colors-red-500: #ea8080;
  --colors-red-600: #e76e6e;
  --colors-red-700: #e45c5c;
  --colors-red-800: #e14a4a;
  --colors-red-900: #9b1c1c;
  --colors-blue-50: #f1f9fe;
  --colors-blue-100: #d2edfd;
  --colors-blue-200: #bce4fb;
  --colors-blue-300: #a6dbfa;
  --colors-blue-400: #a6dbfa;
  --colors-blue-500: #79c8f8;
  --colors-blue-600: #63bff7;
  --colors-blue-700: #4db6f5;
  --colors-blue-800: #36adf4;
  --colors-blue-900: #0071c0;
  --colors-base-white: #ffffff;
  --colors-base-black: #000000;
  --spacing-0: 0px;
  --spacing-0-rem: 0rem;
  --spacing-4: 4px;
  --spacing-4-rem: 0.25rem;
  --spacing-8: 8px;
  --spacing-8-rem: 0.5rem;
  --spacing-12: 12px;
  --spacing-12-rem: 0.75rem;
  --spacing-16: 16px;
  --spacing-16-rem: 1rem;
  --spacing-24: 24px;
  --spacing-24-rem: 1.5rem;
  --spacing-32: 32px;
  --spacing-32-rem: 2rem;
  --spacing-40: 40px;
  --spacing-40-rem: 2.5rem;
  --spacing-48: 48px;
  --spacing-48-rem: 3rem;
  --spacing-56: 56px;
  --spacing-56-rem: 3.5rem;
  --spacing-64: 64px;
  --spacing-64-rem: 4rem;
  --spacing-72: 72px;
  --spacing-72-rem: 4.5rem;
  --spacing-80: 80px;
  --spacing-80-rem: 5rem;
  --spacing-88: 88px;
  --spacing-88-rem: 5.5rem;
  --spacing-96: 96px;
  --spacing-96-rem: 6rem;
  --spacing-120: 120px;
  --spacing-120-rem: 7.5rem;
  --colors-yellow-50: #fef9ec;
  --colors-yellow-100: #fdf4d9;
  --colors-yellow-200: #fdeec6;
  --colors-yellow-300: #fce9b3;
  --colors-yellow-400: #fbe3a0;
  --colors-yellow-500: #fadd8d;
  --colors-yellow-600: #f9d879;
  --colors-yellow-700: #f9d266;
  --colors-yellow-800: #f7c740;
  --colors-yellow-900: #b48a2b;
  --scale-32: 32px;
  --scale-32-rem: 2rem;
  --scale-999: 999px;
  --scale-999-rem: 62.4375rem;
  --scale-40: 40px;
  --scale-40-rem: 2.5rem;
  --scale-48: 48px;
  --scale-48-rem: 3rem;
  --opacity-100: 100;
  --border-none: 0px;
  --border-none-rem: 0rem;
  --border-1: 1px;
  --border-1-rem: 0.0625rem;
  --border-2: 2px;
  --border-2-rem: 0.125rem;
  --border-3: 3px;
  --border-3-rem: 0.1875rem;
  --border-4: 4px;
  --border-4-rem: 0.25rem;
  --typography-font-family-font-family-title: "DM Sans 36 pt";
  --typography-font-family-font-family-body: "DM Sans";
  --typography-font-size-xs-12: 12px;
  --typography-font-size-xs-12-rem: 0.75rem;
  --typography-font-size-sm-14: 14px;
  --typography-font-size-sm-14-rem: 0.875rem;
  --typography-font-size-md-16: 16px;
  --typography-font-size-md-16-rem: 1rem;
  --typography-font-size-lg-20: 20px;
  --typography-font-size-lg-20-rem: 1.25rem;
  --typography-font-size-xl-24: 24px;
  --typography-font-size-xl-24-rem: 1.5rem;
  --typography-font-size-2xl-32: 32px;
  --typography-font-size-2xl-32-rem: 2rem;
  --typography-font-size-3xl-40: 40px;
  --typography-font-size-3xl-40-rem: 2.5rem;
  --typography-font-size-4xl-48: 48px;
  --typography-font-size-4xl-48-rem: 3rem;
  --typography-font-weight-regular: 400;
  --typography-font-weight-medium: 500;
  --typography-font-weight-semi-bold: 600;
  --typography-font-weight-bold: 700;
  --typography-font-weight-extra-bold: 800;
  --typography-font-weight-black: 900;
  --typography-line-height-16: 16px;
  --typography-line-height-16-rem: 1rem;
  --typography-line-height-21: 21px;
  --typography-line-height-21-rem: 1.3125rem;
  --typography-line-height-24: 24px;
  --typography-line-height-24-rem: 1.5rem;
  --typography-line-height-32: 32px;
  --typography-line-height-32-rem: 2rem;
  --typography-line-height-36: 36px;
  --typography-line-height-36-rem: 2.25rem;
  --typography-line-height-40: 40px;
  --typography-line-height-40-rem: 2.5rem;
  --typography-line-height-48: 48px;
  --typography-line-height-48-rem: 3rem;
  --typography-line-height-56: 56px;
  --typography-line-height-56-rem: 3.5rem;

  /* STYLE TOKEN */
  --greyscale-surface-default: var(--colors-neutral-100);
  --greyscale-surface-light: var(--colors-neutral-50);
  --greyscale-surface-disabled: var(--colors-neutral-200);
  --greyscale-border-default: var(--colors-neutral-100);
  --greyscale-border-light: var(--colors-neutral-50);
  --greyscale-border-disabled: var(--colors-neutral-200);
  --greyscale-text-primary: var(--colors-neutral-900);
  --greyscale-text-secondary: var(--colors-neutral-700);
  --greyscale-text-tertiary: var(--colors-neutral-400);
  --greyscale-text-negative: var(--colors-base-white);
  --greyscale-text-disabled: var(--colors-neutral-300);
  --opacity-none: var(--opacity-0);
  --opacity-10: var(--opacity-10);
  --opacity-20: var(--opacity-20);
  --opacity-30: var(--opacity-30);
  --opacity-40: var(--opacity-40);
  --opacity-50: var(--opacity-50);
  --opacity-60: var(--opacity-60);
  --opacity-70: var(--opacity-70);
  --opacity-80: var(--opacity-80);
  --opacity-90: var(--opacity-90);
  --opacity-100: var(--opacity-100);
  --greyscale-surface-white: var(--colors-base-white);

  /* SEMANTIC COLORS TOKENS */
  --surface-subtle-primary: var(--colors-royal-blue-50);
  --surface-subtle-error: var(--colors-red-50);
  --surface-subtle-warning: var(--colors-yellow-50);
  --surface-subtle-success: var(--colors-green-50);
  --surface-light-primary: var(--colors-royal-blue-300);
  --surface-light-error: var(--colors-red-300);
  --surface-light-warning: var(--colors-yellow-300);
  --surface-light-success: var(--colors-green-300);
  --surface-default-primary: var(--colors-royal-blue-800);
  --surface-default-error: var(--colors-red-800);
  --surface-default-warning: var(--colors-yellow-800);
  --surface-default-success: var(--colors-green-800);
  --surface-darker-primary: var(--colors-royal-blue-900);
  --surface-darker-error: var(--colors-red-900);
  --surface-darker-warning: var(--colors-yellow-900);
  --surface-darker-success: var(--colors-green-900);
  --border-default-primary: var(--colors-royal-blue-800);
  --border-default-error: var(--colors-red-800);
  --border-default-warning: var(--colors-yellow-800);
  --border-default-success: var(--colors-green-800);
  --border-light-primary: var(--colors-royal-blue-300);
  --border-light-error: var(--colors-red-300);
  --border-light-warning: var(--colors-yellow-300);
  --border-light-success: var(--colors-green-300);
  --border-darker-primary: var(--colors-royal-blue-900);
  --border-darker-error: var(--colors-red-900);
  --border-darker-warning: var(--colors-yellow-900);
  --border-darker-success: var(--colors-green-900);
  --border-subtle-primary: var(--colors-royal-blue-50);
  --border-subtle-error: var(--colors-red-50);
  --border-subtle-warning: var(--colors-yellow-50);
  --border-subtle-success: var(--colors-green-50);
  --text-label-primary: var(--colors-royal-blue-900);
  --text-label-error: var(--colors-red-900);
  --text-label-warning: var(--colors-yellow-900);
  --text-label-success: var(--colors-green-900);
  --greyscale-subtle-primary: var(--colors-neutral-50);
  --greyscale-subtle-error: var(--colors-red-50);
  --greyscale-subtle-warning: var(--colors-yellow-50);
  --greyscale-subtle-success: var(--colors-green-50);
  --greyscale-light-primary: var(--colors-neutral-300);
  --greyscale-light-error: var(--colors-red-300);
  --greyscale-light-warning: var(--colors-yellow-300);
  --greyscale-light-success: var(--colors-green-300);
  --greyscale-default-primary: var(--colors-neutral-800);
  --greyscale-default-error: var(--colors-red-800);
  --greyscale-default-warning: var(--colors-yellow-800);
  --greyscale-default-success: var(--colors-green-800);
  --greyscale-darker-primary: var(--colors-neutral-900);
  --greyscale-darker-error: var(--colors-red-900);
  --greyscale-darker-warning: var(--colors-yellow-900);
  --greyscale-darker-success: var(--colors-green-900);

  /* SIZING TOKENS */
  --radius-none: var(--scale-none);
  --radius-xs-4: var(--scale-4);
  --radius-s-6: var(--scale-6);
  --radius-m-8: var(--scale-8);
  --radius-l-16: var(--scale-16);
  --radius-xl-24: var(--scale-24);
  --radius-2xl-32: var(--scale-32);
  --radius-full-999: var(--scale-999);
  --borders-none: var(--border-none);
  --borders-1: var(--border-1);
  --borders-2: var(--border-2);
  --borders-3: var(--border-3);
  --borders-4: var(--border-4);
  --icons-small-size: var(--scale-16);
  --icons-medium: var(--scale-24);
  --icons-large: var(--scale-32);
  --spacing-none: var(--spacing-0);
  --spacing-4: var(--spacing-4);
  --spacing-8: var(--spacing-8);
  --spacing-12: var(--spacing-12);
  --spacing-16: var(--spacing-16);
  --spacing-24: var(--spacing-24);
  --spacing-32: var(--spacing-32);
  --spacing-40: var(--spacing-40);
  --spacing-48: var(--spacing-48);
  --spacing-56: var(--spacing-56);
  --spacing-64: var(--spacing-64);
  --spacing-72: var(--spacing-72);
  --spacing-80: var(--spacing-80);
  --spacing-88: var(--spacing-88);
  --spacing-96: var(--spacing-96);
  --spacing-120: var(--spacing-120);
  --icons-small-stroke: var(--border-1);

  /* COMPONENT TOKEN */
  --buttons-radius-small: var(--radius-xs-4);
  --buttons-radius-medium: var(--radius-s-6);
  --buttons-radius-large: var(--radius-m-8);
  --buttons-spacing-small: var(--spacing-4);
  --buttons-spacing-medium: var(--spacing-4);
  --buttons-spacing-large: var(--spacing-8);
  --buttons-h-padding-small: var(--spacing-16);
  --buttons-h-padding-medium: var(--spacing-16);
  --buttons-h-padding-large: var(--spacing-24);
  --buttons-v-padding-small: var(--spacing-8);
  --buttons-v-padding-medium: var(--spacing-12);
  --buttons-v-padding-large: var(--spacing-12);
  --buttons-icon-size-small: var(--scale-16);
  --buttons-icon-size-medium: var(--scale-16);
  --buttons-icon-size-large: var(--scale-24);
  --checkbox-radius-small: var(--radius-xs-4);
  --checkbox-radius-medium: var(--radius-xs-4);
  --checkbox-radius-large: 0px;
  --checkbox-radius-rem-large: 0rem;
  --checkbox-size-small: var(--scale-16);
  --checkbox-size-medium: var(--scale-24);
  --checkbox-size-large: 0px;
  --checkbox-size-rem-large: 0rem;
  --checkbox-padding-small: var(--scale-2);
  --checkbox-padding-medium: var(--scale-2);
  --checkbox-padding-large: 0px;
  --checkbox-padding-rem-large: 0rem;
  --radio-radius-small: var(--radius-full-999);
  --radio-radius-medium: var(--radius-full-999);
  --radio-radius-large: 0px;
  --radio-radius-rem-large: 0rem;
  --radio-size-small: var(--scale-16);
  --radio-size-medium: var(--scale-24);
  --radio-size-large: 0px;
  --radio-size-rem-large: 0rem;
  --radio-padding-small: var(--scale-2);
  --radio-padding-medium: var(--scale-2);
  --radio-padding-large: 0px;
  --radio-padding-rem-large: 0rem;
  --input-field-radius-small: var(--radius-m-8);
  --input-field-radius-medium: 0px;
  --input-field-radius-rem-medium: 0rem;
  --input-field-radius-large: 0px;
  --input-field-radius-rem-large: 0rem;
  --input-field-spacing-small: var(--spacing-4);
  --input-field-spacing-medium: 0px;
  --input-field-spacing-rem-medium: 0rem;
  --input-field-spacing-large: 0px;
  --input-field-spacing-rem-large: 0rem;
  --input-field-h-padding-small: var(--spacing-16);
  --input-field-h-padding-medium: 0px;
  --input-field-h-padding-rem-medium: 0rem;
  --input-field-h-padding-large: 0px;
  --input-field-h-padding-rem-large: 0rem;
  --input-field-v-padding-small: var(--spacing-12);
  --input-field-v-padding-medium: 0px;
  --input-field-v-padding-rem-medium: 0rem;
  --input-field-v-padding-large: 0px;
  --input-field-v-padding-rem-large: 0rem;
  --input-field-icon-size-small: var(--scale-16);
  --input-field-icon-size-medium: 0px;
  --input-field-icon-size-rem-medium: 0rem;
  --input-field-icon-size-large: 0px;
  --input-field-icon-size-rem-large: 0rem;

  /* TYPOGRAPHY TOKEN */
  --display-font-family-regular: var(--typography-font-family-font-family-title);
  --display-font-family-medium: var(--typography-font-family-font-family-title);
  --display-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --display-font-family-bold: var(--typography-font-family-font-family-title);
  --display-size-regular: var(--typography-font-size-4xl-48);
  --display-size-medium: var(--typography-font-size-4xl-48);
  --display-size-semi-bold: var(--typography-font-size-4xl-48);
  --display-size-bold: var(--typography-font-size-4xl-48);
  --display-weight-regular: var(--typography-font-weight-bold);
  --display-weight-medium: var(--typography-font-weight-bold);
  --display-weight-semi-bold: var(--typography-font-weight-bold);
  --display-weight-bold: var(--typography-font-weight-bold);
  --display-line-height-regular: var(--typography-line-height-56);
  --display-line-height-medium: var(--typography-line-height-56);
  --display-line-height-semi-bold: var(--typography-line-height-56);
  --display-line-height-bold: var(--typography-line-height-56);
  --headings-h1-font-family-regular: var(--typography-font-family-font-family-title);
  --headings-h1-font-family-medium: var(--typography-font-family-font-family-title);
  --headings-h1-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --headings-h1-font-family-bold: var(--typography-font-family-font-family-title);
  --headings-h1-size-regular: var(--typography-font-size-3xl-40);
  --headings-h1-size-medium: var(--typography-font-size-3xl-40);
  --headings-h1-size-semi-bold: var(--typography-font-size-3xl-40);
  --headings-h1-size-bold: var(--typography-font-size-3xl-40);
  --headings-h1-weight-regular: var(--typography-font-weight-bold);
  --headings-h1-weight-medium: var(--typography-font-weight-bold);
  --headings-h1-weight-semi-bold: var(--typography-font-weight-bold);
  --headings-h1-weight-bold: var(--typography-font-weight-bold);
  --headings-h1-line-height-regular: var(--typography-line-height-48);
  --headings-h1-line-height-medium: var(--typography-line-height-48);
  --headings-h1-line-height-semi-bold: var(--typography-line-height-48);
  --headings-h1-line-height-bold: var(--typography-line-height-48);
  --headings-h2-font-family-regular: var(--typography-font-family-font-family-title);
  --headings-h2-font-family-medium: var(--typography-font-family-font-family-title);
  --headings-h2-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --headings-h2-font-family-bold: var(--typography-font-family-font-family-title);
  --headings-h2-size-regular: var(--typography-font-size-2xl-32);
  --headings-h2-size-medium: var(--typography-font-size-2xl-32);
  --headings-h2-size-semi-bold: var(--typography-font-size-2xl-32);
  --headings-h2-size-bold: var(--typography-font-size-2xl-32);
  --headings-h2-weight-regular: var(--typography-font-weight-bold);
  --headings-h2-weight-medium: var(--typography-font-weight-bold);
  --headings-h2-weight-semi-bold: var(--typography-font-weight-bold);
  --headings-h2-weight-bold: var(--typography-font-weight-bold);
  --headings-h2-line-height-regular: var(--typography-line-height-48);
  --headings-h2-line-height-medium: var(--typography-line-height-48);
  --headings-h2-line-height-semi-bold: var(--typography-line-height-48);
  --headings-h2-line-height-bold: var(--typography-line-height-48);
  --headings-h3-font-family-regular: var(--typography-font-family-font-family-title);
  --headings-h3-font-family-medium: var(--typography-font-family-font-family-title);
  --headings-h3-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --headings-h3-font-family-bold: var(--typography-font-family-font-family-title);
  --headings-h3-size-regular: var(--typography-font-size-xl-24);
  --headings-h3-size-medium: var(--typography-font-size-xl-24);
  --headings-h3-size-semi-bold: var(--typography-font-size-xl-24);
  --headings-h3-size-bold: var(--typography-font-size-xl-24);
  --headings-h3-weight-regular: var(--typography-font-weight-bold);
  --headings-h3-weight-medium: var(--typography-font-weight-bold);
  --headings-h3-weight-semi-bold: var(--typography-font-weight-bold);
  --headings-h3-weight-bold: var(--typography-font-weight-bold);
  --headings-h3-line-height-regular: var(--typography-line-height-36);
  --headings-h3-line-height-medium: var(--typography-line-height-36);
  --headings-h3-line-height-semi-bold: var(--typography-line-height-36);
  --headings-h3-line-height-bold: var(--typography-line-height-36);
  --headings-h4-font-family-regular: var(--typography-font-family-font-family-title);
  --headings-h4-font-family-medium: var(--typography-font-family-font-family-title);
  --headings-h4-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --headings-h4-font-family-bold: var(--typography-font-family-font-family-title);
  --headings-h4-size-regular: var(--typography-font-size-lg-20);
  --headings-h4-size-medium: var(--typography-font-size-lg-20);
  --headings-h4-size-semi-bold: var(--typography-font-size-lg-20);
  --headings-h4-size-bold: var(--typography-font-size-lg-20);
  --headings-h4-weight-regular: var(--typography-font-weight-bold);
  --headings-h4-weight-medium: var(--typography-font-weight-bold);
  --headings-h4-weight-semi-bold: var(--typography-font-weight-bold);
  --headings-h4-weight-bold: var(--typography-font-weight-bold);
  --headings-h4-line-height-regular: var(--typography-line-height-32);
  --headings-h4-line-height-medium: var(--typography-line-height-32);
  --headings-h4-line-height-semi-bold: var(--typography-line-height-32);
  --headings-h4-line-height-bold: var(--typography-line-height-32);
  --headings-h5-font-family-regular: var(--typography-font-family-font-family-title);
  --headings-h5-font-family-medium: var(--typography-font-family-font-family-title);
  --headings-h5-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --headings-h5-font-family-bold: var(--typography-font-family-font-family-title);
  --headings-h5-size-regular: var(--typography-font-size-md-16);
  --headings-h5-size-medium: var(--typography-font-size-md-16);
  --headings-h5-size-semi-bold: var(--typography-font-size-md-16);
  --headings-h5-size-bold: var(--typography-font-size-md-16);
  --headings-h5-weight-regular: var(--typography-font-weight-bold);
  --headings-h5-weight-medium: var(--typography-font-weight-bold);
  --headings-h5-weight-semi-bold: var(--typography-font-weight-bold);
  --headings-h5-weight-bold: var(--typography-font-weight-bold);
  --headings-h5-line-height-regular: var(--typography-line-height-24);
  --headings-h5-line-height-medium: var(--typography-line-height-24);
  --headings-h5-line-height-semi-bold: var(--typography-line-height-24);
  --headings-h5-line-height-bold: var(--typography-line-height-24);
  --headings-h6-font-family-regular: var(--typography-font-family-font-family-title);
  --headings-h6-font-family-medium: var(--typography-font-family-font-family-title);
  --headings-h6-font-family-semi-bold: var(--typography-font-family-font-family-title);
  --headings-h6-font-family-bold: var(--typography-font-family-font-family-title);
  --headings-h6-size-regular: var(--typography-font-size-sm-14);
  --headings-h6-size-medium: var(--typography-font-size-sm-14);
  --headings-h6-size-semi-bold: var(--typography-font-size-sm-14);
  --headings-h6-size-bold: var(--typography-font-size-sm-14);
  --headings-h6-weight-regular: var(--typography-font-weight-bold);
  --headings-h6-weight-medium: var(--typography-font-weight-bold);
  --headings-h6-weight-semi-bold: var(--typography-font-weight-bold);
  --headings-h6-weight-bold: var(--typography-font-weight-bold);
  --headings-h6-line-height-regular: var(--typography-line-height-24);
  --headings-h6-line-height-medium: var(--typography-line-height-24);
  --headings-h6-line-height-semi-bold: var(--typography-line-height-24);
  --headings-h6-line-height-bold: var(--typography-line-height-24);
  --body-extra-small-font-family-regular: var(--typography-font-family-font-family-body);
  --body-extra-small-font-family-medium: var(--typography-font-family-font-family-body);
  --body-extra-small-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --body-extra-small-font-family-bold: var(--typography-font-family-font-family-body);
  --body-extra-small-size-regular: var(--typography-font-size-xs-12);
  --body-extra-small-size-medium: var(--typography-font-size-xs-12);
  --body-extra-small-size-semi-bold: var(--typography-font-size-xs-12);
  --body-extra-small-size-bold: var(--typography-font-size-xs-12);
  --body-extra-small-weight-regular: var(--typography-font-weight-regular);
  --body-extra-small-weight-medium: var(--typography-font-weight-medium);
  --body-extra-small-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --body-extra-small-weight-bold: var(--typography-font-weight-bold);
  --body-extra-small-line-height-regular: var(--typography-line-height-16);
  --body-extra-small-line-height-medium: var(--typography-line-height-16);
  --body-extra-small-line-height-semi-bold: var(--typography-line-height-16);
  --body-extra-small-line-height-bold: var(--typography-line-height-16);
  --body-small-font-family-regular: var(--typography-font-family-font-family-body);
  --body-small-font-family-medium: var(--typography-font-family-font-family-body);
  --body-small-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --body-small-font-family-bold: var(--typography-font-family-font-family-body);
  --body-small-size-regular: var(--typography-font-size-sm-14);
  --body-small-size-medium: var(--typography-font-size-sm-14);
  --body-small-size-semi-bold: var(--typography-font-size-sm-14);
  --body-small-size-bold: var(--typography-font-size-sm-14);
  --body-small-weight-regular: var(--typography-font-weight-regular);
  --body-small-weight-medium: var(--typography-font-weight-medium);
  --body-small-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --body-small-weight-bold: var(--typography-font-weight-bold);
  --body-small-line-height-regular: var(--typography-line-height-21);
  --body-small-line-height-medium: var(--typography-line-height-21);
  --body-small-line-height-semi-bold: var(--typography-line-height-21);
  --body-small-line-height-bold: var(--typography-line-height-21);
  --body-medium-font-family-regular: var(--typography-font-family-font-family-body);
  --body-medium-font-family-medium: var(--typography-font-family-font-family-body);
  --body-medium-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --body-medium-font-family-bold: var(--typography-font-family-font-family-body);
  --body-medium-size-regular: var(--typography-font-size-md-16);
  --body-medium-size-medium: var(--typography-font-size-md-16);
  --body-medium-size-semi-bold: var(--typography-font-size-md-16);
  --body-medium-size-bold: var(--typography-font-size-md-16);
  --body-medium-weight-regular: var(--typography-font-weight-regular);
  --body-medium-weight-medium: var(--typography-font-weight-medium);
  --body-medium-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --body-medium-weight-bold: var(--typography-font-weight-bold);
  --body-medium-line-height-regular: var(--typography-line-height-24);
  --body-medium-line-height-medium: var(--typography-line-height-24);
  --body-medium-line-height-semi-bold: var(--typography-line-height-24);
  --body-medium-line-height-bold: var(--typography-line-height-24);
  --body-large-font-family-regular: var(--typography-font-family-font-family-body);
  --body-large-font-family-medium: var(--typography-font-family-font-family-body);
  --body-large-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --body-large-font-family-bold: var(--typography-font-family-font-family-body);
  --body-large-size-regular: var(--typography-font-size-lg-20);
  --body-large-size-medium: var(--typography-font-size-lg-20);
  --body-large-size-semi-bold: var(--typography-font-size-lg-20);
  --body-large-size-bold: var(--typography-font-size-lg-20);
  --body-large-weight-regular: var(--typography-font-weight-regular);
  --body-large-weight-medium: var(--typography-font-weight-medium);
  --body-large-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --body-large-weight-bold: var(--typography-font-weight-bold);
  --body-large-line-height-regular: var(--typography-line-height-32);
  --body-large-line-height-medium: var(--typography-line-height-32);
  --body-large-line-height-semi-bold: var(--typography-line-height-32);
  --body-large-line-height-bold: var(--typography-line-height-32);
  --button-small-font-family-regular: var(--typography-font-family-font-family-body);
  --button-small-font-family-medium: var(--typography-font-family-font-family-body);
  --button-small-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --button-small-font-family-bold: var(--typography-font-family-font-family-body);
  --button-small-size-regular: var(--typography-font-size-sm-14);
  --button-small-size-medium: var(--typography-font-size-sm-14);
  --button-small-size-semi-bold: var(--typography-font-size-sm-14);
  --button-small-size-bold: var(--typography-font-size-sm-14);
  --button-small-weight-regular: var(--typography-font-weight-regular);
  --button-small-weight-medium: var(--typography-font-weight-medium);
  --button-small-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --button-small-weight-bold: var(--typography-font-weight-bold);
  --button-small-line-height-regular: var(--typography-line-height-16);
  --button-small-line-height-medium: var(--typography-line-height-16);
  --button-small-line-height-semi-bold: var(--typography-line-height-16);
  --button-small-line-height-bold: var(--typography-line-height-16);
  --button-large-font-family-regular: var(--typography-font-family-font-family-body);
  --button-large-font-family-medium: var(--typography-font-family-font-family-body);
  --button-large-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --button-large-font-family-bold: var(--typography-font-family-font-family-body);
  --button-large-size-regular: var(--typography-font-size-md-16);
  --button-large-size-medium: var(--typography-font-size-md-16);
  --button-large-size-semi-bold: var(--typography-font-size-md-16);
  --button-large-size-bold: var(--typography-font-size-md-16);
  --button-large-line-height-regular: var(--typography-line-height-24);
  --button-large-line-height-medium: var(--typography-line-height-24);
  --button-large-line-height-semi-bold: var(--typography-line-height-24);
  --button-large-line-height-bold: var(--typography-line-height-24);
  --button-extra-small-font-family-regular: var(--typography-font-family-font-family-body);
  --button-extra-small-font-family-medium: var(--typography-font-family-font-family-body);
  --button-extra-small-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --button-extra-small-font-family-bold: var(--typography-font-family-font-family-body);
  --button-extra-small-size-regular: var(--typography-font-size-xs-12);
  --button-extra-small-size-medium: var(--typography-font-size-xs-12);
  --button-extra-small-size-semi-bold: var(--typography-font-size-xs-12);
  --button-extra-small-size-bold: var(--typography-font-size-xs-12);
  --button-extra-small-line-height-regular: var(--typography-line-height-16);
  --button-extra-small-line-height-medium: var(--typography-line-height-16);
  --button-extra-small-line-height-semi-bold: var(--typography-line-height-16);
  --button-extra-small-line-height-bold: var(--typography-line-height-16);
  --button-large-weight-regular: var(--typography-font-weight-regular);
  --button-large-weight-medium: var(--typography-font-weight-medium);
  --button-large-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --button-large-weight-bold: var(--typography-font-weight-bold);
  --button-extra-small-weight-regular: var(--typography-font-weight-regular);
  --button-extra-small-weight-medium: var(--typography-font-weight-medium);
  --button-extra-small-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --button-extra-small-weight-bold: var(--typography-font-weight-bold);
  --button-sidebar-text-font-family-regular: var(--typography-font-family-font-family-body);
  --button-sidebar-text-font-family-medium: var(--typography-font-family-font-family-body);
  --button-sidebar-text-font-family-semi-bold: var(--typography-font-family-font-family-body);
  --button-sidebar-text-font-family-bold: var(--typography-font-family-font-family-body);
  --button-sidebar-text-size-regular: 13px;
  --button-sidebar-text-size-rem-regular: 0.8125rem;
  --button-sidebar-text-size-medium: 13px;
  --button-sidebar-text-size-rem-medium: 0.8125rem;
  --button-sidebar-text-size-semi-bold: 13px;
  --button-sidebar-text-size-rem-semi-bold: 0.8125rem;
  --button-sidebar-text-size-bold: 13px;
  --button-sidebar-text-size-rem-bold: 0.8125rem;
  --button-sidebar-text-weight-regular: var(--typography-font-weight-regular);
  --button-sidebar-text-weight-medium: var(--typography-font-weight-medium);
  --button-sidebar-text-weight-semi-bold: var(--typography-font-weight-semi-bold);
  --button-sidebar-text-weight-bold: var(--typography-font-weight-bold);
  --button-sidebar-text-line-height-regular: var(--typography-line-height-16);
  --button-sidebar-text-line-height-medium: var(--typography-line-height-16);
  --button-sidebar-text-line-height-semi-bold: var(--typography-line-height-16);
  --button-sidebar-text-line-height-bold: var(--typography-line-height-16);
}