@import "./styles/css-output.css";
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
  }
}

/* Override mobile sidebar background */
[data-sidebar="sidebar"][data-mobile="true"] {
  background-color: var(--surface-subtle-primary) !important;
  border-right: none;
}
